/Project 1/JavaApplication1/nbproject/private/
/Project 1/CV generator/nbproject/private/
/Project 1/CV generator/build/
/Project 1/CV generator/JavaApplication3/nbproject/private/
/Project 1/cvGenerator/nbproject/private/
/Project 1/cvGenerator/dist/
/Project 1/cvGenerator/build/